.page-bkg{
  .line-info{
    background: #389cff;
    height: 156px;
    width: 100%;
    color: #fff;
    padding:24px;
    display: flex;
    flex-direction: column;
    .title{
      font-size: 48px;
      line-height: 48px;
      &::after{
        content: '路';
        margin-left: 10px;
        background: #2d90f2;
        font-size: 28px;
        height: 32px;
        width: 60px;
        display: inline-block;
        text-align: center;
        line-height: 32px;
      }
    }
    .line-detail{
      margin-top: 15px;
      font-size: 36px;
    }
    .time-price{
      margin-top: 10px;
      display: flex;
      align-items: center;
      Text{
        margin-right: 35px;
        &:nth-child(2){
          font-size: 20px;
          line-height: 30px;
        }
      }
    }
  }
  .stop-info{
    height: 240px;
    width: 702px;
    border-radius: 10px;
    background: #fff;
    margin:24px;
    position: relative;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.1);
    .arrow{
      background: #fff;
      bottom: -10px;
      left: 330px;
      position: absolute;
      height: 20px;
      width: 20px;
      transform: rotate(45deg);
      box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.1);
    }
  }
  .pic-aura{
    background-color: #fff;
    margin:0 24px;
    .all-stops{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .stop-one{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      .left-road,
      .right-road,
      .road-arrow,
      .road-stop{
        height: 12px;
        background-color: #6CB438;
      }
      .left-road{
        width: 50px;
      }
      .right-road{
        width: 38px;
      }
      .road-arrow{
        width: 12px;
        background-size: 8px 12px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("../../images/road_arrow.png");
      }
      .road-stop{

        background-repeat: no-repeat;
        background-position: center;
        background-image: url("../../images/stop_dot.png");
        background-size: 12px;
        margin-bottom: 20px;
      }
      .stop-obj{
        width: 32px;
        flex-direction: column;
        align-items: center;
        .stop-num,.stop-name{
          margin: 15px auto;
          font-size: 32px;
          line-height:32px;
          text-align: center;
        }
        .stop-name{
          letter-spacing: 4px;
          writing-mode: vertical-lr;
        }
      }
    }
  }
  .green{
    background-color: #6CB438;
  }
  .red{
    background-color: #D44032;
  }
}